.fancy-header {
    text-align: center;
    color: purple; /* single line comment */
    text-decoration: underline;
}

h1.fancy-header {
    color: black;
    text-decoration: underline;
}

h2 {
    color: green;
    text-decoration: underline;
}


html {
    background-color: gray;
    background-image: url("https://cdn.shopify.com/s/files/1/0065/4999/5573/files/cosmos_flowers_sky_1024x1024.jpg?v=1660105054");
    font-family: cursive;
    background-size: 100%;
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
}

ol, ul {
    list-style: circle;
}

table {
    font-size: 25px;
    padding: 20px;
    width: 100%;
}

th, td {
    border: 2px solid darkgray;
    padding: 12px;
    text-align: center;
}

thead {
    background-color: 333;
    color: white;
}

a:link {
    color: red;
}

a:visited {
    color: black;
}

a:hover {
    color: blue;
    font-size: 20px
}

a:active {
    color: green;
}

